[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    node_modules,
    */migrations/*
ignore =
    E231,
    E265,
    E275,
    E302,
    E303,
    E501,
    E117,
    E131,
    E722,
    W291,
    W292,
    W391,
    F401,
    F841
